<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
<h1>Homepage</h1>
<div>
    <ul id="json-list"></ul>
</div>
<script>
    const ul = document.getElementById("json-list");
    function sendRequest() {
        fetch('http://localhost:18343/')
            .then(response => response.json())
            .then(data => {
                ul.innerHTML = "";
                // Use the data object here
                data.forEach(function(item) {
                    const li = document.createElement("li");
                    li.textContent = item;
                    ul.appendChild(li);
                });

            })
            .catch(error => {
                console.error(error);
            });

    }

    // Send the initial request
    sendRequest();

    // Send the request every 5 seconds
    setInterval(sendRequest, 3000);

</script>
</body>
</html>
