#Sat Feb 11 21:07:14 PST 2023
backend_port=18348
content_dir=content/
frontend_port=18347
name=nodeC
peer_0=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa,127.0.0.1,18343,18344,20
peer_1=dddddddddddddddddddddddddddddddddddd,127.0.0.1,18349,18350,5
peer_2=eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee,127.0.0.1,18351,18352,30
peer_count=3
uuid=cccccccccccccccccccccccccccccccccccc

